<h2>Patient List</h2>
<button routerLink="/patients/new" class="btn btn-primary mb-3">
  Add New Patient
</button>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Patient No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>First Visit Date</th>
        <th>Patient Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.patientId }}</td>
        <td>{{ patient.patientNo }}</td>
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.firstVisitDate | date }}</td>
        <td>{{ patient.patientType }}</td>
        <td>
          <button
            [routerLink]="['/patients', patient.patientId]"
            class="btn btn-sm btn-info me-2"
          >
            Details
          </button>
          <button
            [routerLink]="['/patients/edit', patient.patientId]"
            class="btn btn-sm btn-primary me-2"
          >
            Edit
          </button>
          <button
            (click)="deletePatient(patient.patientId)"
            class="btn btn-sm btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
