<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" routerLink="prescriptions">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="prescriptions/form">Form</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="prescriptions/detail/:id">Prescription Detail</a>
          </li>
         
          <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
          </li>
      </ul>
  </div>
</nav>
<router-outlet /> -->


<!-- app.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/prescriptions" routerLinkActive="active">Prescriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/testReport" routerLinkActive="active">Test Reports</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/tests" routerLinkActive="active">Test</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>